body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #e2f2f0;
}

table,
tr,
td {
    padding: 0em;
    margin: 0em;
}

h2 {
    text-align: center;
    font-style: oblique;
    color: rgba(39, 34, 53, 0.808);
}

h5 {
    margin-left: 3em;
}

input {
    width: 180px;
    border-radius: 5px;
}

#search-title {
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #32383e;
}

.cr-btn {
    border-radius: 5px;
    padding: 1px 10px;
}

.cr-btn1 {
    border-radius: 5px;
    padding: 1px 2.8px;
}
